.flex{
  display: flex;
}
.w100{
  width: 100%;
}
.allcenter{
  .flex;
  align-items: center;
}
.betweetn{
  .flex;
  justify-content: space-between;
}
.f1{
  font-size: 32px;
}
.fs{
  font-size: 14px;
}
