@import '~@/assets/css/variables.less';
@import '~@/assets/css/commands.less';

@font-face {
  font-family: "euclid.woff";
  src: url("~@/assets/fonts/EuclidCircularB-SemiBold.woff");
  font-weight: normal;
  font-style: normal;
}
.thefont{
  font-family:"euclid.woff";
}
body, p, a, div, span, button{
 .thefont; 
}
body{
  margin:0;
  padding:0;
}
div{
  border-radius: 8px;
}